.border-size{
    border-bottom-width: 3px !important;
}

.ligne{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.centered-text{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.selected{
    background-color: #ccc; 
    color: #009688;
}

img{
    width: 100px;
    height: 100px;
}